[Desktop Entry]
Type=Application
Name=@{application.name}
Comment=Import @{license.description}
MimeType=application/x-@{license.extension};@{license.mimetype}
Exec=filebot --license %F
Icon=${SNAP}/meta/gui/filebot.svg
NoDisplay=true
StartupNotify=true
StartupWMClass=@{deb.application.class}
X-Ubuntu-Gettext-Domain=@{package.name}
